@use "../../themes/catppuccinFrappe.scss" as theme;


.rightPanel {
    min-width: 22.5rem;
    padding: 0;
    margin: 0.45rem 0.405rem 0.35rem 0; // top, right, bottom, left
    border-radius: 0.3125rem;
    background-color: rgba(theme.$background, 0.5)
}

.user {
    margin: 1rem 1rem 0 1rem;
}

.userNameBox {
    margin-left: 0.5rem;
}

.userName {
    font-size: 1.2rem;
    color: theme.$foreground;
}

.userUptime {
    font-size: 0.9rem;
    color: rgba(theme.$foreground, 0.8);
}

.userPower {
    &:hover .userPowerIcon {
        transition: 0.3s;
        color: theme.$foreground;
    }

    &:active .userPowerIcon {
        transition: 0.3s;
        color: theme.$teal;
    }
}

.userPowerIcon {
    font-family: "JetBrainsMono Nerd Font Mono";
    color: rgba(theme.$foreground, 0.5);
    font-size: 2rem;
}


.mediaRectangle {
    background-color: transparent;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
}

.mediaTitle {
    font-weight: bold;
    font-size: 1.3rem;
    color: theme.$foreground;
}

.mediaArtist {
    font-size: 1rem;
    color: rgba(theme.$foreground, 0.8);
}

.mediaSeek {
    margin-top: 1rem;
}

.mediaSeek trough,
.mediaSeek trough highlight {
    border-radius: 0.5rem;
    min-height: 0.3rem;
    background-color: rgba(theme.$foreground, 0.1)
}

.mediaSeek trough highlight {
    background-color: rgba(theme.$foreground, 1);
}


.mediaControl {

    &:hover .mediaControlIcon {
        transition: 0.3s;
        color: theme.$foreground;
    }

    &:active .mediaControlIcon {
        transition: 0.3s;
        color: theme.$teal;
    }
}

.mediaControlIcon {
    font-family: "JetBrainsMono Nerd Font Mono";
    color: rgba(theme.$foreground, 0.5);
    font-size: 3rem;
}