@use "../../themes/catppuccinFrappe.scss" as theme;

.rightPanel {
    min-width: 22.5rem;
    padding: 0;
    margin: 0.45rem 0.405rem 0.35rem 0; // top, right, bottom, left
    border-radius: 0.3125rem;
    background-color: theme.$backgroundTransparent;
}

.mediaRectangle {
    background-color: transparent;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
}

.mediaTitle {
    font-weight: bold;
    font-size: 1.1rem;
    color: theme.$foreground;
}

.mediaArtist {
    font-size: 0.95rem;
    color: theme.$foreground;
}
