@use "../../themes/catppuccinFrappe.scss" as theme;

.rightPanel {
    min-width: 22.5rem;
    padding: 0;
    margin: 0.45rem 0.405rem 0.35rem 0; // top, right, bottom, left
    border-radius: 0.3125rem;
    background-color: theme.$backgroundTransparent;
}