$background: #303446;
$backgroundTransparent: rgba(48, 52, 70, 0.5);
$foreground: #c6d0f5;

$Rosewater:#f2d5cf;
$Flamingo:#eebebe;
$Pink:#f4b8e4;
$Mauve:#ca9ee6;
$Red:#e78284;
$Maroon:#ea999c;
$Peach:#ef9f76;
$Yellow:#e5c890;
$Green:#a6d189;
$Teal:#81c8be;
$Sky:#99d1db;
$Sapphire:#85c1dc;
$Blue:#8caaee;
$Lavender:#babbf1;
