@import "Themes/catppuccin-frappe.css";

* {
    border: none;
    font-family: "JetBrainsMono NFP";
    font-weight: bold;
    font-size: 15px;
    background-color: transparent;
    color: @foreground;
}

window#waybar {
    background: @background-transparent;
    border: 1px solid @foreground;
    border-radius: 5px;
}

tooltip {
    background: @background;
    border: 1px solid @foreground;
}
/* ==============================Main============================== */
#cpu.load,
#cpu.freq,
#memory,
#disk,
#tray,
#clock,
#backlight,
#pulseaudio,
#bluetooth,
#network.ssid,
#network.symbol,
#battery,
#custom-misc,
#custom-clipboard,
#custom-colourpicker {
    padding: 0px 5px;
}

#cpu.load {
    padding-left: 10px;
}

#custom-misc {
    padding-right: 15px;
}

/* ==============================Workspaces============================== */
#workspaces {
    background: transparent;
    padding: 0px 0px;
    border-radius: 16px;
}

#workspaces button {
    padding-left: 4px;
    padding-right: 4px;
}
