input {
    keyboard {
        xkb {
            // For example:
            layout "gb"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
        }
    }

    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // middle-emulation
    }

    //Automatically focus windows
    focus-follows-mouse max-scroll-amount="0%"
}

output "eDP-1" {
    mode "2560x1600"
    scale 1.6
    transform "normal"
}


layout {
    gaps 7

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"

    preset-column-widths {
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }

    preset-window-heights { 
        proportion 0.5
        proportion 1.0
    }

    default-column-width { 
        proportion 0.5; 
    }

    // By default focus ring and border are rendered as a solid background rectangle
    // behind windows. That is, they will show up through semitransparent windows.
    // This is because windows using client-side decorations can have an arbitrary shape.
    //
    // If you don't like that, you should uncomment `prefer-no-csd` below.
    // Niri will draw focus ring and border *around* windows that agree to omit their
    // client-side decorations.
    //
    // Alternatively, you can override it with a window rule called
    // `draw-border-with-background`.

    // You can change how the focus ring looks.
    focus-ring {
        //off
        width 1
        active-color "#c6d0f5"
        inactive-color "#505050"
    }

    border {
        off
        width 1
        active-color "#c6d0f5"
        inactive-color "#505050"
    }

    // You can enable drop shadows for windows.
    shadow {
        // Softness controls the shadow blur radius.
        softness 30

        // Spread expands the shadow.
        spread 5

        // Offset moves the shadow relative to the window.
        offset x=0 y=5

        // You can also change the shadow color and opacity.
        color "#0007"
    }
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    slowdown 1.5
}

cursor {
    xcursor-theme "Nordzy-catppuccin-frappe-dark"
    xcursor-size 24
    // hide-when-typing
    // hide-after-inactive-ms 1000
}

// ====================================================================================================================================
// ============================================================= STARTUP ==============================================================
// ====================================================================================================================================

environment {
    // GDK_SCALE "1.6"
    DISPLAY ":1"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    MOZ_ENABLE_WAYLAND "1"
    WLR_NO_HARDWARE_CURSORS "1"
    SSH_ASKPASS "/usr/bin/ksshaskpass"
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
    OPENCV_LOG_LEVEL "ERROR"
}

// Workspaces
workspace "1" {
    open-on-output "eDP-1"
}

workspace "2" {
    open-on-output "eDP-1"
}

workspace "3" {
    open-on-output "eDP-1"
}

workspace "4" {
    open-on-output "eDP-1"
}

// System Stuff
spawn-at-startup "kwalletd6"
spawn-at-startup "/usr/lib/xdg-desktop-portal"
spawn-at-startup "/usr/lib/xdg-desktop-portal-gnome"
spawn-at-startup "asusctl" "profile" "-P" "quiet"

// Shell
spawn-at-startup "~/.scripts/AutoRestart/waybarAutorestart.sh" "n"
spawn-at-startup "~/.scripts/AutoRestart/dunstAutorestart.sh"
spawn-at-startup "clipse" "-listen"
spawn-at-startup "wl-paste" "-t" "text" "-w" "xclip" "-selection" "clipboard"
spawn-at-startup "swww-daemon"
spawn-at-startup "waypaper" "--restore"
spawn-at-startup "hypridle"
spawn-at-startup "xwayland-satellite" ":1"

//Apps
spawn-at-startup "~/.scripts/Starters/VPNStarter.sh"
spawn-at-startup "filen-desktop" "--disable-gpu"
spawn-at-startup "discordrp-mpris"
spawn-at-startup "rog-control-center"
spawn-at-startup "steammetadataeditor" "-s"
spawn-at-startup "solaar" "-w" "hide"
spawn-at-startup "arrpc"
spawn-at-startup "kdeconnect-indicator"

// ====================================================================================================================================
// =========================================================== WINDOW RULES ===========================================================
// ====================================================================================================================================
// Shell
window-rule {
    match app-id="foot" title="tui"
    match app-id="com.saivert.pwvucontrol"
    match app-id="blueberry.py"
    open-floating true
    min-width 1000
    max-width 1000
    min-height 700
    max-height 700
}

window-rule {
    match app-id="xfce-polkit"
    open-floating true
    min-width 500
    max-width 500
    min-height 250
    max-height 200
}

// Maximised
window-rule {
    match app-id="LibreWolf"
    match app-id="codium"
    match app-id="vesktop"
    match app-id="tidal-hifi"
    match app-id="Element"
    open-maximized true
}


// Layers
layer-rule {
    match namespace="waybar"
    match namespace="rofi"
    match namespace="logout_dialog"
    match namespace="notifications"
    match at-startup=true
        shadow {
        on
        softness 0
        spread 0    
        draw-behind-window true
        color "#303446"
        offset x=0 y=0
    }
}

// Cheatsheet
hotkey-overlay {
    skip-at-startup
}

// ====================================================================================================================================
// =============================================================== BINDS ==============================================================
// ====================================================================================================================================

binds {
    // Mod-Shift-/, which is usually the same as Mod-?,
    // shows a list of important hotkeys.
    // Win+Shift+Slash { show-hotkey-overlay; }

    // Apps
    Win+T { spawn "foot"; }
    Win+Tab { spawn "rofi" "-show" "drun" "-theme" ".config/rofi/launcher/launcher.rasi"; }
    Win+M { spawn "wlogout" "--protocol" "layer-shell"; }
    Win+B { spawn "librewolf"; }
    Win+E { spawn "nautilus" "--new-window"; }
    XF86Launch1 { spawn "rog-control-center"; }

    // System
    XF86AudioRaiseVolume allow-when-locked=true { spawn "~/.scripts/System/volumeControl.sh" "i"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "~/.scripts/System/volumeControl.sh" "d"; }
    XF86AudioMute        allow-when-locked=true { spawn "~/.scripts/System/volumeControl.sh" "m"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "~/.scripts/System/volumeControl.sh" "mm"; }
    XF86Launch3 { spawn "notify-send" "The keyboard ain't RGB lmao." "-t" "800" "-r" "4"; }
    XF86Launch4 { spawn "~/.scripts/System/powerProfile.sh"; }
    XF86KbdBrightnessUp allow-when-locked=true { spawn "asusctl" "--prev-kbd-bright"; }
    XF86KbdBrightnessDown allow-when-locked=true { spawn "asusctl" "--next-kbd-bright"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "-d" "intel_backlight" "s" "+10%"; } 
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "-d" "intel_backlight" "s" "10%-"; }

    //Window Binds
    Win+C { close-window; }

    Win+Left  { focus-column-left; }
    Win+Down  { focus-window-down; }
    Win+Up    { focus-window-up; }
    Win+Right { focus-column-right; }
    Win+H     { focus-column-left; }
    Win+J     { focus-window-down; }
    Win+K     { focus-window-up; }
    Win+L     { focus-column-right; }

    Win+Ctrl+Left  { move-column-left; }
    Win+Ctrl+Down  { move-window-down; }
    Win+Ctrl+Up    { move-window-up; }
    Win+Ctrl+Right { move-column-right; }
    Win+Ctrl+H     { move-column-left; }
    Win+Ctrl+J     { move-window-down; }
    Win+Ctrl+K     { move-window-up; }
    Win+Ctrl+L     { move-column-right; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    // Win+J     { focus-window-or-workspace-down; }
    // Win+K     { focus-window-or-workspace-up; }
    // Win+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Win+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Win+Home { focus-column-first; }
    Win+End  { focus-column-last; }
    Win+Ctrl+Home { move-column-to-first; }
    Win+Ctrl+End  { move-column-to-last; }

    Win+Shift+Left  { focus-monitor-left; }
    Win+Shift+Down  { focus-monitor-down; }
    Win+Shift+Up    { focus-monitor-up; }
    Win+Shift+Right { focus-monitor-right; }
    Win+Shift+H     { focus-monitor-left; }
    Win+Shift+J     { focus-monitor-down; }
    Win+Shift+K     { focus-monitor-up; }
    Win+Shift+L     { focus-monitor-right; }

    Win+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Win+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Win+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Win+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Win+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Win+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Win+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Win+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Alternatively, there are commands to move just a single window:
    // Win+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // And you can also move a whole workspace to another monitor:
    // Win+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    Win+Page_Down      { focus-workspace-down; }
    Win+Page_Up        { focus-workspace-up; }
    Win+U              { focus-workspace-down; }
    Win+I              { focus-workspace-up; }
    Win+Ctrl+Page_Down { move-column-to-workspace-down; }
    Win+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Win+Ctrl+U         { move-column-to-workspace-down; }
    Win+Ctrl+I         { move-column-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // Win+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    Win+Shift+Page_Down { move-workspace-down; }
    Win+Shift+Page_Up   { move-workspace-up; }
    Win+Shift+U         { move-workspace-down; }
    Win+Shift+I         { move-workspace-up; }

    // You can bind mouse wheel scroll ticks using the following syntax.
    // These binds will change direction based on the natural-scroll setting.
    //
    // To avoid scrolling through workspaces really fast, you can use
    // the cooldown-ms property. The bind will be rate-limited to this value.
    // You can set a cooldown on any bind, but it's most useful for the wheel.
    Win+WheelScrollDown      cooldown-ms=150 { focus-column-left; }
    Win+WheelScrollUp        cooldown-ms=150 { focus-column-right; }
    Win+Shift+WheelScrollDown cooldown-ms=150 { move-column-left; }
    Win+Shift+WheelScrollUp   cooldown-ms=150 { move-column-right; }

    Win+1 { focus-workspace 1; }
    Win+2 { focus-workspace 2; }
    Win+3 { focus-workspace 3; }
    Win+4 { focus-workspace 4; }
    Win+5 { focus-workspace 5; }
    Win+6 { focus-workspace 6; }
    Win+7 { focus-workspace 7; }
    Win+8 { focus-workspace 8; }
    Win+9 { focus-workspace 9; }
    Win+Shift+1 { move-column-to-workspace 1; }
    Win+Shift+2 { move-column-to-workspace 2; }
    Win+Shift+3 { move-column-to-workspace 3; }
    Win+Shift+4 { move-column-to-workspace 4; }
    Win+Shift+5 { move-column-to-workspace 5; }
    Win+Shift+6 { move-column-to-workspace 6; }
    Win+Shift+7 { move-column-to-workspace 7; }
    Win+Shift+8 { move-column-to-workspace 8; }
    Win+Shift+9 { move-column-to-workspace 9; }
    Win+Ctrl+1 { move-window-to-workspace 1; }
    Win+Ctrl+2 { move-window-to-workspace 2; }
    Win+Ctrl+3 { move-window-to-workspace 3; }
    Win+Ctrl+4 { move-window-to-workspace 4; }
    Win+Ctrl+5 { move-window-to-workspace 5; }
    Win+Ctrl+6 { move-window-to-workspace 6; }
    Win+Ctrl+7 { move-window-to-workspace 7; }
    Win+Ctrl+8 { move-window-to-workspace 8; }
    Win+Ctrl+9 { move-window-to-workspace 9; }

    Win+R { switch-preset-column-width; }
    Win+Shift+R { switch-preset-window-height; }
    Win+Ctrl+R { reset-window-height; }
    Win+F { maximize-column; }
    Win+Shift+F { fullscreen-window; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Win+Ctrl+F { expand-column-to-available-width; }

    Win+Q { center-column; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e.on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Win+Minus { set-column-width "-10%"; }
    Win+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Win+Shift+Minus { set-window-height "-10%"; }
    Win+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Win+V       { toggle-window-floating; }
    Win+Shift+V { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Win+W { toggle-column-tabbed-display; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Win+Space       { switch-layout "next"; }
    // Win+Shift+Space { switch-layout "prev"; }

    Super+Shift+S { screenshot; }
    Ctrl+Super+Shift+S { screenshot-screen; }
    Alt+Super+Shift+S { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Win+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Win+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Win+Shift+P { power-off-monitors; }
}
