/* uncomment if you do have pywal configured */
/* @import url("/home/USER/.cache/wal/colors-widgets.css"); */
@import url(".config/fabric/catppuccin.css");

:vars {
    --window-bg: alpha(var(--Background), 0.6);
    --module-bg: transparent;
}

* {
    /* unsets everything so we can style everything from scratch. */
    all: unset;
    font-family: "JetBrainsMono NFP";
    font-weight: 500;
    font-size: 14px;
    color: var(--Foreground);
    /* we can use webcss variables, fabric compiles that to gtk css. */
}

#main-window {
    background-color: var(--window-bg);
    border-radius: 5px;
}

/* Workspaces */

#workspaces {
    margin: 3px;
    padding: 6px;
    background-color: var(--module-bg);
    border-radius: 5px;
}

#workspaces > button {
    border: solid 1px;
    border-color: var(--Foreground);
    border-radius: 2px;
    min-width: 25px;
    transition: min-width 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: transparent;
}

#workspaces > button > label {
    color: var(--Foreground);
}

#workspaces > button.active {
    min-width: 48px;
    background-color: var(--Foreground);
}

#workspaces > button.active > label {
    font-weight: 900;
    color: var(--Background);
}

#workspaces > button.urgent {
    background-color: var(--Red);
}

#workspaces > button:hover {
    background-color: alpha(var(--Foreground), 0.4);
}


/* ============================================================================= */

#date-time,
#hyprland-window {
    background-color: var(--module-bg);
    padding: 0px 8px;
    margin: 3px;
}

menu > menuitem > label,
#date-time > label,
#hyprland-window > label {
    font-weight: 900;
}

#center-box {
    margin: 1px;
}

/* system tray */

#system-tray {
    margin: 3px;
    padding: 0px 2px;
    background-color: var(--module-bg);
    border-radius: 100px;
}

#system-tray > button {
    padding: 0px 2px;
    margin: 3px;
}

/* menu and menu items (written for the system tray) */

menu {
    border: solid 2px;
    border-color: var(--border-color);
    border-radius: 10px;
}

menu > menuitem {
    background-color: var(--module-bg);
    padding: 6px;
    margin-left: 2px;
    margin-right: 2px;
}

menu > menuitem:first-child {
    margin-top: 1.5px;
    border-radius: 8px 8px 0px 0px;
}

menu > menuitem:last-child {
    margin-bottom: 1.5px;
    border-radius: 0px 0px 8px 8px;
}

menu > menuitem:hover {
    background-color: var(--border-color);
}

#module-separator {
    margin: 0px 12px;
    padding: 5px 1px 5px 1px;
    background-color: alpha(var(--Foreground), 0.4);
}

