* {
  border: none;
  font-family: 'Baloo 2';
  font-size: 15px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 25px;
}

window#waybar {
  background: transparent;
}

#clock, #backlight, #pulseaudio, #bluetooth, #network, #battery, #tray, #cpu, #temperature, #memory, #custom-playerctl, #workspaces, #custom-swaync {
  border-radius: 15px;
  background-color: rgba(67, 76, 94, 0.8);
  color: #cdd6f4;
  margin-top: 7px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

#workspaces {
  padding-top: 2.5;
}

#workspaces button {
  background: transparent;
  color: #cdd6f4;
}

#backlight, #bluetooth, #cpu {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 5px;
  margin-right: 0;
}

#cpu{
  margin-left: 10px;
}

#temperature, #network, #battery {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 5px;
  margin-right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 0px;
}


#pulseaudio, #memory, #custom-swaync{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 5px;
}

#custom-playerctl {
  margin-right: 0px;
  margin-left: 0px;
}

#custom-swaync{
  padding-right: 15px;
}

