@import "./themes/catppuccin-frappe.css";

window {
    font-family: JetBrains Mono Nerd Font;
    font-size: 12pt;
    color: @foreground; 
    background-color: @background
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border: none;
    color: @foreground;
    text-shadow: none;
    background-color: transparent;
    margin: 5px;
    transition: background-size 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out
}

button:hover {
    background-color: @foreground;
    color: @background-alt1;
    text-shadow: none;
    background-size: 30%;
    transition: background-size 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out
}

#lock {
    background-image: image(url("../../.resources/icons/wlogout/lock.png"));
}
#lock:hover {
    background-image: image(url("../../.resources/icons/wlogout/lock-hover.png"));
}

#logout {
    background-image: image(url("../../.resources/icons/wlogout/logout.png"));
}
#logout:hover {
    background-image: image(url("../../.resources/icons/wlogout/logout-hover.png"));
}

#suspend {
    background-image: image(url("../../.resources/icons/wlogout/suspend.png"));
}
#suspend:hover {
    background-image: image(url("../../.resources/icons/wlogout/suspend-hover.png"));
}

#shutdown {
    background-image: image(url("../../.resources/icons/wlogout/shutdown.png"));
}
#shutdown:hover {
    background-image: image(url("../../.resources/icons/wlogout/shutdown-hover.png"));
}

#reboot {
    background-image: image(url("../../.resources/icons/wlogout/reboot.png"));
}
#reboot:hover {
    background-image: image(url("../../.resources/icons/wlogout/reboot-hover.png"));
}

#dgpu {
    background-image: image(url("../../.resources/icons/wlogout/gpu.png"));
}
#dgpu:hover {
    background-image: image(url("../../.resources/icons/wlogout/gpu-hover.png"));
}