
* {
    background:                 #2e3440a6;
    background-alt:             #3b4252a6;
    foreground:                 #eceff4ff;
    selected:                   #4c566aff;
    active:                     #d08770ff;
    urgent:                     #bf616aff;

    button:                     #2e3440ff;
    button-text:                #eceff4ff;
}

