* {
  color: @foreground;
  all: unset;
  font-size: 15px;
  font-family: "JetBrainsMono NFP";
  transition: 200ms;
}

/* Avoid 'annoying' backgroud */
.blank-window {
  background: transparent;
}

/* ------------------- CONTROL CENTER --------------------- */

.control-center {
  background: @background-transparent;
  color: @foreground;
  border-radius: 5px;
  border: none;
  padding: 12px;
}

/* ------------------- Notifications ---------------------- */
.notification-background {
  background-color: @background;
  border: none;
  border-radius: 5px;
  margin: 12px 2px;
}

.control-center .notification-row .notification-background .notification .critical .summary {
  color: @red;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 25px 6px;
}

.control-center .notification-row .notification-background .notification .notification-action {
  background: alpha(@background, 0.6);
  color: @foreground;
  border-radius: 5px;
}

.control-center .notification-row .notification-background .notification .notification-action:hover {
  background: alpha(@foreground, 0.2);
}

.control-center .notification-row .notification-background .notification .notification-action:active {
  background: alpha(@foreground, 0.6);
}

.control-center .notification-row .notification-background .notification .time {
  color: alpha(@foreground, 0.8);
}


/* ---------------------- Buttons ------------------------- */
.close-button {
  color: transparent;
}

/* .control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 3px;
  color: @foreground;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: alpha(@foreground, 0.2);
}

.control-center .notification-row .notification-background .close-button:active {
  color: @red;
  background-color: @foreground;
} */

progress {
  background-color: @foreground;
  min-height: 2px;
}

progressbar {
  background-color: transparent;
  min-height: 2px;
}

/* ------------ Notifications expanded-group -------------- */

.notification-group {
  margin: 2px 8px 2px 8px;
  transition: background 0.15s ease-in-out;

}

.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @foreground;
  letter-spacing: 2px;
  transition: background 0.15s ease-in-out;
}

.notification-group-icon {
  color: @foreground;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @foreground;
  margin: 0px;
  border-radius: 5px;
  padding: 0px;
  transition: background 0.15s ease-in-out;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: alpha(@foreground, 0.2);
  ;
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
  background: alpha(@foreground, 0.2);
  ;
  border-radius: 5px;
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
  background: alpha(@foreground, 0.2);
  ;
  border-radius: 5px;
}

/* ----------------------- WIDGETS ------------------------ */

/* ------------ Notification clear button --------------- */

.widget-title {
  font-weight: bold;
  color: @foreground;
  margin: 6px;
}

.widget-title button {
  background: @transparent;
  border-radius: 5px;
  padding: 4px 10px;
}

.widget-title button:hover {
  background-color: alpha(@foreground, 0.2);
}

.widget-title button:active {
  color: @background;
  background-color: @foreground;
}

/* Do not disturb */
.widget-dnd {
  margin: 6px;
  font-weight: bold;
  color: @foreground;
}

.widget-dnd>switch {
  background: transparent;
  border-radius: 5px;
  box-shadow: none;
  padding: 3px;
}

.widget-dnd>switch:hover {
  background: alpha(@foreground, 0.2);
}

.widget-dnd>switch:checked {
  color: @background;
  background: @foreground;
}

.widget-dnd>switch:checked:hover {
  background: alpha(@foreground, 0.2);
}

.widget-dnd>switch slider {
  background: @foreground;
  border-radius: 5px;
}

.widget-dnd>switch:checked slider {
  background: @background;
  border-radius: 5px;
}

/* -------------------- Music player ---------------------- */

/* Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
  background-color: @mpris-album-art-overlay;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .65);
}

.widget-mpris button {
  color: alpha(@text, 0.6);
}

.widget-mpris button:hover {
  background: alpha(@main-color, 0.5);
  color: @background-alt;
  border-radius: 3px;
}

.widget-mpris-album-art {
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.10rem;
  padding-bottom: 2px;
}

.widget-mpris-subtitle {
  font-weight: normal;
  font-size: 0.85rem;
}