* {
  color: @foreground;
  all: unset;
  font-size: 15px;
  font-family: "JetBrainsMono NFP";
  transition: 200ms;
}

.floating-notifications.background .notification-row .notification-background {
  background: @background-transparent;
  border: none;
  border-radius: 5px;
  margin-top: 6px;
  margin-right: 6px;
  padding: 0;
  transition: color 0.15s ease-in-out, background 0.15s ease-in-out;
}

.notification-content {
  margin: 10px;
}

.image {
  border-radius: 5px;
}

.summary {
  font-family: "JetBrainsMono NFP";
  font-weight: bold;
  font-size: 16px;
  color: @foreground;
  padding-left: 10px;
}

.body {
  font-family: "JetBrainsMono NFP";
  font-size: 14px;
  color: @foreground;
  padding-left: 10px;
}

.close-button {
  color: transparent;
}

/* .close-button {
  margin: 5px;
  padding: 2px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid transparent;
  color: @foreground;
}

.close-button:hover {
  background-color: alpha(@foreground, 0.2);
  color: @red;
}

.close-button:active {
  background-color: alpha(@foreground, 0.5);
  color: @red;
} */

.notification progress {
  background-color: @foreground;
  min-height: 2px;
}

.notification progressbar {
  background-color: transparent;
  min-height: 2px;
}